name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  SERVER_HOST: ${{ secrets.SERVER_HOST }}
  SERVER_USER: ${{ secrets.SERVER_USER }}
  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  DEPLOY_PATH: "/home/${{ secrets.SERVER_USER }}/otus-cicd"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          source .bashrc
          pip install --upgrade pip
          pip install -r requirements/requirements.txt
          pip install -r requirements/requirements-lint.txt

      - name: Run isort
        run: |
          source .bashrc
          isort $PATH_FOR_LINT --check --profile black

      - name: Run black
        run: |
          source .bashrc
          black $PATH_FOR_LINT --check

      - name: Run ruff
        run: |
          source .bashrc
          ruff check $PATH_FOR_LINT

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          source .bashrc
          pip install --upgrade pip
          pip install -r requirements/requirements.txt
          pip install -r requirements/requirements-test.txt

      - name: Run tests
        run: |
          source .bashrc
          pytest --cov=src tests

  build:
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy files to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ env.SERVER_HOST }}
          username: ${{ env.SERVER_USER }}
          key: ${{ env.SSH_PRIVATE_KEY }}
          source: ".bashrc,src,requirements,config,scripts,data,models"
          target: ${{ env.DEPLOY_PATH }}

      - name: Install dependencies on VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ env.SERVER_HOST }}
          username: ${{ env.SERVER_USER }}
          key: ${{ env.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ env.DEPLOY_PATH }}
            chmod +x scripts/build.sh
            bash scripts/build.sh
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Deploy on VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ env.SERVER_HOST }}
          username: ${{ env.SERVER_USER }}
          key: ${{ env.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ env.DEPLOY_PATH }}
            chmod +x scripts/entrypoint.sh
            bash scripts/entrypoint.sh
