name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          source .bashrc
          pip install --upgrade pip
          pip install -r requirements/requirements.txt
          pip install -r requirements/requirements-lint.txt

      - name: Run isort
        run: |
          source .bashrc
          isort $PATH_FOR_LINT --check --profile black

      - name: Run black
        run: |
          source .bashrc
          black $PATH_FOR_LINT --check

      - name: Run ruff
        run: |
          source .bashrc
          ruff check $PATH_FOR_LINT

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          source .bashrc
          pip install --upgrade pip
          pip install -r requirements/requirements.txt
          pip install -r requirements/requirements-test.txt

      - name: Run tests
        run: |
          source .bashrc
          pytest --cov=src tests
